<style>
  * {
    font-family: 'Nunito Sans', sans-serif;
  }

  #sidebar {
    /* set sidebar height to the page height */
    position: fixed;
    height: 100vh;
    width: 90px;
    background: #2d3853;
    color: rgb(255, 255, 255);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 5px;
    float: left;
  }


  #sidebar ul {
    list-style-type: none;
    padding: 15px 15px 0px 15px;
  }

  #sidebar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    transition: all 0.3s;
    font-size: 35px;
    text-align: center;
    margin-top: 35px;

  }

  #sidebar p {
    font-size: 12px;
    display: none;
  }

  #sidebar:hover {
    width: 200px;
    border-radius: 15px;

  }

  #sidebar:hover a {
    display: flex;
    padding-left: 1rem;
    font-size: 25px;
    text-align: center;
    align-items: center;
  }

  #sidebar:hover p {
    display: block;
    font-size: 20px;
    margin-left: 1rem;
    margin-top: 15px;
  }

  #sidebar a:hover {
    border-radius: 5px;
    box-shadow: 0px 0px 0px #070913,
      0px 0px 0px #171d2b,
      inset 4px 4px 8px #171d2b, inset -4px -4px 8px #6982bf;
  }
</style>
<% if(locals.session.username == 'admin') {%>
  <nav id="sidebar">
    <ul>
      <li>
        <a href="/dashboard"> <i class="fa fa-home " aria-hidden="true"></i>
          <p>Admin Home</p>
        </a>
      </li>
      <li>
        <a href="/dashboard/adminVideos"> <i class="fa fa-video " aria-hidden="true"></i>
          <p>All Videos</p>
        </a>
      </li>
      <li>
        <a href="/dashboard/adminUsers"> <i class="fa fa-user " aria-hidden="true"></i>
          <p>Manage Users</p>
        </a>
      </li>
    </ul>
  </nav>
  <% } else {%>
  <nav id="sidebar">
    <ul>
      <li>
        <a href="/dashboard"> <i class="fa fa-home " aria-hidden="true"></i>
          <p>Home</p>
        </a>
      </li>
      <li>
        <a href="/dashboard/userVideos"> <i class="fa fa-user " aria-hidden="true"></i>
          <p>Videos</p>
        </a>
      </li>
    </ul>
  </nav>
<% } %>